addict
cython
numpy
Pillow
pyyaml
regex;sys_platform=='win32'
yapf
ffmpeg
tables
h5py
coverage
pytest
PyTurboJPEG
gym
shapely
sorcery
psutil
opencv-python
tensorboard
tabulate
rtree
pynvml
tqdm
trimesh
open3d
transforms3d
sapien
